@import "../../sass/style.scss";

.loader_container {
    margin: auto;
    border: 3px solid $white;
    border-top: 3px solid $lightGreen;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    @include center_middle_align();
    position: absolute;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform:translate(-50%,-50%) rotate(0deg) ;
    }

    100% {
        transform:translate(-50%,-50%) rotate(360deg) ;
    }
}