// Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
$mainFont: "Inter", sans-serif;

// Color Variables
$black: #000000;
$white: #ffffff;
$textColor: #525866;
$lightGreen: #8ccfb7;

// Media Queries
$mobile: "(max-width: 768px)";
$ipad: "(device-width: 768px) and (device-height: 1024px)";
